body{
    background-color: #172b4d !important;
}

.text-primary-custom{
    color: #be6314 !important;
}

.link-attention{
    color: #be6314 !important;
    cursor: pointer;
}

.link-attention:hover{
    color: #462d17 !important;
}

.nav-active{
    border-top: solid 0.1rem #1c3051;
    border-bottom: solid 0.1rem #1c3051;
    padding-left: 8px;
}

.nav-link:hover{
    color: #be6314 !important;
}

.input-join {
    margin-left: 15px;
}

.input-join {
    margin-left: 15px;
}

.input-after-join {
    margin-top: 5px;
    margin-left: 15px;
}

.row-form {
    padding-left: 15px;
    padding-right: 15px;
}

.strong{
    font-weight: 700;
}

.fa-hover:hover{
    color: #be6314 !important;
    cursor: pointer;
}

.hidden{
    display: none;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.img-showroom{
    border-radius: 8%;
}

.flex{
    display: flex;
}

.img-overlay {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
   }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .overlay:hover .img-overlay{
    opacity: 0.3;
  }
  
  .overlay:hover .middle{
    opacity: 1;
  }

  .text-detail {
    padding-left: 8px;
    padding-right: 8px;
}

.fade:not(.show) {
    opacity: 1 !important;
    background-color: rgba(0,0,0,0.4) !important;
}

.ctl{
    color: #be6314;
}

.ctl:hover{
    color: #616161;
    cursor: pointer;
}

#menu-btn{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 20px;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: none;
    padding: 10px 13px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .5);
    background-color: #446eb2;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
    -webkit-transition: all 300ms ease-in;
    transition: all 0.7s ease-in;
    color: #ededed;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    width: 17.5%;
    border-radius: 5px;
}

@media(max-width: 520px){
    #app{
        margin-left: 9%;
    }
    #menu-btn{
        display: flex;
    }
}

.ativo{
    background-color: #d8e2f3;
    border-radius: 5%;
}